{% extends "AppAscenzi/base.html" %}
{% load static %}

{% block principal %}

Me llamo Juan Ignacio Ascenzi Márquez, tengo 24 años, fui barbero el ultimo año del secundario,
 y los proximos 2 tambien, mientras estudie un año para Tecnico Superior en negociacion de bienes,
en la UTN pero, esta en pausa a la mitad de la carrera, luego con la pendemia, 
y sumado a una mudanza empece a trabajar en eventos, haciendo armados y de seguridad, 
trabajo que disfrute mucho pero me resultaba poco rendidor porque eran esporadicos, luego comence
a trabajar con un amigo en su empresa familiar que eran productores de articulos de seguridad vial,
como barrales de patrulleros, luces perimetrales para ambulancias, etc, ahi decidi anotarme 
al primer curso porque un compañero me comento que estaba estudiando, me anote a ambos a la vez pero no podia
con tanta intensidad, asi que pospuse el de python y ahora lo estoy terminando, estoy muy contento 
de haber encaminado mi vida para estos lados, a pesar de que es frustrante y que no tiene nada que ver, 
a lo que hice anteriormente. Disfruto pensar logica y encontrarle la vuelta a las cosas nuevas, 
asi como tambien se que se avecina un camino largo de aprendizaje y nuevas costumbres, me siento
muy agradecido con usted profesor, sinceramente disfrute las clases, quizas mas grabadas que en vivo, 
porque me ayudaron muchisimo, nunca pude seguirle el paso clase a clase, capaz por eso no hice consultas durante,
ya que los errores vinieron con la practica, que ahi es donde entra Cristian, me saco el sombrero con el,
es muy habilidoso para encontrar el problema, y no solo me corrigio o marco el error sino que me explico,
el porque esta mal, que es la mejor manera de aprender para mi. Quizas quedo muy largo y lo hice contando cosas sobre anteriores trabajos,
no se si debia hacer algo mas personal, pero bueno, por las dudas lo resumo, soy un fanatico del futbol, de los animales, los vehiculos en general,
y deseoo seguir aprendiendo lenguajes porque, planeo venirme a vivir a la costa argentina que es desde donde curse casi todas las clases. Ha sido un gusto German,
espero que el trabajo aparte de satisfacer las consignas, se entienda de que trata, porque yo venia haciendo en las pre entregas una tienda virtual y lo desvie, porque me parecia
lo mas sensato para abarcar todo. Muchas gracias.

{% endblock %}