{% extends "AppAscenzi/base.html" %}

{% load static %}

{% block principal %}
  <main>
    <ul class="mt-5 list-unstyled">
        {% if form %}
        <form action="{% url 'juguete-create'%}" method="post">
          {% csrf_token %} 
          {{form.as_p}}
          <input type="submit" value="Agregar">
        </form>
      </ul>
        {% endif %}
        <center><img src="{% static 'assets/lobby.jpeg' %}" alt="centered image" height="450" width="670"></center>
        <ul class="mt-5 list-unstyled">

          {% if not juguetes %}

          <h1>No hay juguetes en stock cargados por ninguno de los usuarios</h1>
          
          {% endif %}
          <div style="margin-top: 40px;">
          {% for juguete in juguetes %} 
          <li>● Nombre del comprador: {{juguete.nombre}} ●Marca: {{juguete.marca}} ●Cantidad: {{juguete.cantidad}}
          <a href="{% url 'juguete-detail' juguete.id %}">Detalles</a>
          {% if user.is_authenticated and user.id == juguete.publisher.id %}
            <a href="{% url 'juguete-update' juguete.id %}">Cambiar datos</a>
            <a href="{% url 'juguete-delete' juguete.id %}">Eliminar</a>
            {% endif %} 
          </li> 
          {% endfor %}
      </ul>
  </main>
{% endblock %}